.pay-wrap{
  display: flex;
  justify-content: center;
}
.pay-wrap .pay-icon{

  display: flex;
  align-items: center;
  justify-content: center;
}
.pay-wrap .pay-icon i{
padding: 30px 30px;
background-color: green;
border-radius: 50%;
font-size: 45px;
margin-right: 10px;
}
.pay-wrap .pay-icon .pay-title{
  width:700px;
}
.pay-wrap .pay-icon .pay-title p{
 margin-bottom:5px;
 font-size: 25px;
}
.cart-main-wrap{
  margin-bottom: 10px;
}
.cart-main-wrap h2{
  color: rgb(23, 125, 91);
  margin-left: 11px;
}
.cart-main-infor {
 display: block;

}

/* thong tin thanh toan */

.cart-main-pay {
border-bottom: 1px solid #e0e0e0;
}
.cart-main-pay h3{
  /* text-align: center; */
  margin-bottom: 13px;
  color: rgb(23, 125, 91);
}
.cart-main-right{
  margin-bottom: 10px;
}
.cart-main-right .pay-all{
  color: red;
}