.product-love {
  margin-top: 20px;
  background-color: white;
}
.product {
  /* background-color: white;
  padding: 50px 0; */
}
/* footer */
.footer-top{
  background-color: #F1F1F1;
  padding-top: 20px;
}
.footer-top-intro{

}

.footer-top-policy{

}
.footer-top-policy-list{
  padding-left:0;
}
.footer-top-policy ul{
  list-style: none;
 
}
.footer-top-policy ul a{
  text-decoration: none;
}
.breadcrumb {

}



/*  */
.pagination {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}
.pagination a {
  color: #007bff;
  padding: 10px 15px;
  margin: 0 5px;
  text-decoration: none;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.pagination a:hover {
  background-color: #007bff;
  color: #fff;
}
.pagination .active {
  background-color: #007bff;
  color: #fff;
  border: 1px solid #007bff;
}

