
.login-wrap {
  /* background: linear-gradient(135deg, #94a0d1, #8e64b8); */
  background: url("../img/background1.jpg");
  background-size: cover;
  padding: 5rem;
 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  
  width: 100%;
  text-align: center;
  position: relative;
 height: 700px;
}

.login-wrap .overlay {
  width: 30%;
  background-color: transparent;
  border-radius: 10px;
  padding: 2rem;
  color: #fff;
  margin: auto;
}

.login-wrap h1 {
  margin-bottom: 1.5rem;
  color: #fff;
}

.form-login .login-detail {
  margin-bottom: 1rem;
  position: relative;
}

.form-login input {
  width: 100%;
  padding: 10px 10px 10px 40px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
  transition: all 0.3s ease;
}

.form-login input:focus {
  outline: none;
}

.form-login input.filled {
  border-color: #67d5f7;
  box-shadow: 0 0 5px rgba(103, 213, 247, 0.8);
}

.form-login input::placeholder {

}

.form-login .login-detail span {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: #aaa;
  transition: color 0.3s ease;
}

.form-login input.filled + span i {
  color: #67d5f7;
  transform: scale(1.2);
}

.login-button {
  margin-top: 1.5rem;
}

.login-button h4 {
  margin-bottom: 1rem;
}

.login-button a {
  color: #67d5f7;
  text-decoration: none;
}

.login-button a:hover {
  text-decoration: underline;
}

.btn-submit {
  cursor: pointer;
  display: inline-block;
  width: 100%;
  background: lightblue;
  padding: 15px;
  font-family: inherit;
  font-size: 16px;
  border: 0;
  border-radius: 5px;
  transition: background 0.3s ease;
  color: white;
}

.btn-submit:hover {
  background: #0056b3;
}

.register {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}
.register-left, .register-right {
  display: flex;
  align-items: center;
}

.register-left a, .register-right a {
  margin: 0 0.5rem;
  color: #ffffff;
  text-decoration: none;
}

.register-left a:hover, .register-right a:hover {
  text-decoration: underline;
}

.register i {
  color: #ffffff;
}

@media (max-width: 850px) {
  .login-wrap {
    padding: 2rem;
    height: auto;
  }

  .login-wrap .overlay {
    width: 100%;
  }

  .login-button h4, .register {
    text-align: center;
    flex-direction: column;
  }

  .register-left, .register-right {
    margin-bottom: 1rem;
  }
}

/* footer */
.footer-top{
  background-color: antiquewhite;
  padding-top:20px;
}